---
services: docker

env:
  - distro: centos7

script:
  - sudo pip install "ansible-run>=2.1"
  - .travis/prepare.sh
  - image=$distro ansible-test test/test.yml

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/